/.vagrant
.env.*.example
readme.*.md
/resources/**-csv-**
/resources/csv-*
/resources/**/**.csv
/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/public/node_modules
/storage/*.key
/storage/pail
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
*.log
*.sql
*.sqlite
*.com
*.class
*.dll
*.exe
*.o
*.so
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
ehthumbs.db
Thumbs.db
.DS_Store
._*
.Spotlight-V100
.Trashes
*.sublime-project
*.sublime-workspace
*.komodoproject
_ide_helper.php
/.idea/
/.vscode/
.buildpath
.project
.settings/
.cache/
*.bak
*.orig
.bash_history
LICENSE_AFL.txt
LICENSE.html
LICENSE.txt
LICENSE_EE*
RELEASE_NOTES.txt
.ssh/
error_log
.htpasswds
php.ini.sample
.modgit/
_vti_bin/
_vti_cnf/
_vti_inf.html
_vti_log/
_vti_pvt/
_vti_txt/
tmp/
php.ini
_old/
.htpasswds/
.htpasswd
.viminfo
.profile
.bashrc
.bash_logout
.modman/
pkginfo
nohup.out
yarn.lock
/public/mix-manifest.json
/.phpunit.result.cache
/public/css/*
/public/js/*
/public/assets/js/*
/public/assets/css/*
/public/assets/vendor/*
!/public/assets/*
bootstrap/compiled.php
app/storage/
public/storage
public/hot
storage/framework/cache
storage/framework/views
vendor/
/public/.htaccess.env
bootstrap/cache/*
docker-compose.override.yml
*.lock