@import "base/variables";
@import "base/reset";
@import "base/global";
@import "base/layout";
@import "base/typography";

@import "components/buttons";
@import "components/cards";
@import "components/forms";

@import "pages/about";
@import "pages/home";

@import "partials/footer";
@import "partials/header";
@import "partials/sidebar";


// TODO: Clean up style below and move to appropriate file.

.welcome {
    // Link positioning.
    & .getting-started-links {
        position: absolute;
        top: 2em;
        right: 2em;

        // Link styles
        & a {
          color: $text-color;
          padding: 0 25px;
          font-size: 12px;
          font-weight: 600;
          letter-spacing: .1rem;
          text-decoration: none;
          text-transform: uppercase;
        }

    }

    // Inner content styles
    & .content {
        text-align: center;

        // Hero text styling
        & .hero-intro-text {
          font-size: 84px;
          letter-spacing: 5px;
        }

        // Subtitle styling
        & .hero-tagline-text {
          margin-top: -1em;
          margin-bottom: 5em;
          letter-spacing: 2px;
        }

    }

}